@model MvcCoreLinqXML.Models.Escena

@{
    ViewData["Title"] = "EscenaPelicula";
}

<h1>Escena Pelicula</h1>
<h2 style="color:blue">
    @ViewData["REGISTROS"]
</h2>
<a asp-controller="Peliculas"
   asp-action="EscenaPelicula"
   asp-route-idpelicula="@Model.IdPelicula"
   asp-route-posicion="@ViewData["ANTERIOR"]" class="btn btn-info">
    Anterior
</a>
<a asp-controller="Peliculas"
   asp-action="EscenaPelicula"
   asp-route-idpelicula="@Model.IdPelicula"
   asp-route-posicion="@ViewData["SIGUIENTE"]" class="btn btn-info">
    Siguiente
</a>
<div>
    <h4>Escena</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPelicula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPelicula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Imagen"
                 style="width:250px; height: 200px" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
